body {
    background-image: url('image/sky.jpg');
    background-size: cover;
}



.container {
    color: black;
    width: 50%;
    height: 700px;
    text-align: justify;
    padding: 10px;
    margin: auto;
    
    
}
.caption span {
    color: black;
    background-color: antiquewhite;
    font-size: smaller;
    text-align: center;
}

h1 {
    color:lightsalmon;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: initial-letter-align;
}

h1 span{
    background-color: transparent;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    display: initial-letter-align;
}

h2 span{
    background-color: transparent;
}


.bolded_black{
    color: black;
    font-weight:bold;
}

.bolded_blue{
    color: blue;
    font-weight:bold;
}

p{
    font-family: Verdana;
    font-size: 20px;
}

p span {
    background: fixed;
    background-color: transparent;
    text-align: center;
}


h2{
    text-align: center;
}




