body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.pure-g{
    margin-bottom: 30px;
}

.vis-container {
    width: 100%;
}

.description-left {
    padding-right: 20px;
}

.description-right {
    padding-left: 20px;
}

.caption span {
    color: black;
    background-color: antiquewhite;
    font-size: smaller;
    text-align: center;
    
}

#title {
    text-align: center;
}

.bolded_black{
    color: black;
    font-weight:bold;
}

h2{
    text-align: center;
    
}

p {
    text-align: justify;
}




